<!DOCTYPE html>
<html>
<head>
  <title>Twitterish</title>
</head>
<body>

  <header>
    <nav>
      <ul>
        <li><a href="/users#index">Users</a></li>
        <li><a href="/tweets#index">Tweets</a></li>
      </ul>
    </nav>
  </header>

</body>
</html>

<span class="display">
  <h1>All the tweets</h1>
</span>

<% @tweets.each do |tweet| %>
<article>
  <p><%= tweet.message %></p>
</article>
<hr class="noline" />
<% end %>
