<!DOCTYPE html>
<html>
<head>
  <title>Twitterish</title>
</head>
<body>

  <header>
    <nav>
      <ul>
        <li><a href="/users#index">Users</a></li>
        <li><a href="/tweets#index">Tweets</a></li>
      </ul>
    </nav>
  </header>

</body>
</html>

<span class="display">
  <h1>All users</h1>
</span>

<% @users.each do |user| %>
<article>
  <p><%= user.name %></p>
  <small><%= user.location %></small>
</article>
<hr class="noline" />
<% end %>
