<!DOCTYPE html>
<html>
<head>
  <title>Twitterish</title>
</head>
<body>

  <header>
    <nav>
      <ul>
        <li><a href="/users#index">Users</a></li>
        <li><a href="/tweets#index">Tweets</a></li>
      </ul>
    </nav>
  </header>

